body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.wrapper {
  font-family: 'Roboto', sans-serif;
  background-color: $background;
}
.section {
  width: 100vw;
  height: 100vh;
}
.container {
  box-sizing: border-box;
  padding: 0 20px;
}
input {
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 2px solid $slGrey;
  &:focus {
    border-bottom: 2px solid $blue;
  }
}
button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
