.circle {
  width: 6px;
  height: 6px;
  margin: 2px;
  background: #fff;
  border-radius: 50%;
  display: block;
}
.menu__item--kebab {
  flex-direction: column;
}
.menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  > div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
