.section-profile {
  box-sizing: border-box;
  padding: 20px;
  // @include center;
}
.profile-info {
  @include between;
  height: 500px;
}

.profile-work__title {
  color: $liColor;
  font-size: 25px;
  margin-bottom: 20px;
}
.profile {
  background-color: $liBackground;
  width: 400px;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px 10px;
  @include col-between;
  color: $liColor;
  font-size: 20px;
  margin-right: 10px;
}
.profile__name {
  font-size: 25px;
}
.profile-state {
  @include col-center;

  &__products {
    margin-bottom: 10px;
  }
  &__errors {
    margin-bottom: 10px;
  }
}
.loadable-value {
  color: $yellow;
  &__red {
    color: red;
  }
  &__green {
    color: $green;
  }
}
// WORK_INFO
.profile-work {
  @include col-between;
  flex: 1;
  height: 100%;
  background-color: $liBackground;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px 10px;
}
.profile-work-info {
  @include between;
  width: 100%;
  height: 100%;
}
.profile-work-links {
  height: 100%;
  width: 35%;
  // border: 1px solid royalblue;
  &__item {
    @include between;
    margin-bottom: 5px;
    color: $liColor;
    &:last-child {
      margin-bottom: 0;
    }
    font-size: 17px;
  }
}
.profile-work-links__href {
  text-decoration: underline;
  color: $yellow;
}
.profile-work-offical {
}
