@import './setting/vars.scss';
@import './setting/media.scss';
@import './setting/mixin.scss';
@import './setting/layout.scss';

//components
@import '../components/Header/header.scss';
@import '../components/Buttons/kebab-button.scss';
@import '../components/Checkbox/checkbox.scss';
@import '../components/Select/select.scss';

//pages
@import '../pages/Auth/auth.scss';
@import '../pages/Workspace/workspace.scss';
@import '../pages/Profile/profile.scss';
@import '../pages/ProductVerification/quality.scss';
