.select {
  cursor: pointer;
  width: 170px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 16px;
  color: black;
  font-weight: 700;
  border-radius: 20px;
  outline: none;
  background-color: $yellow;
}
